<ion-menu [content]="content">
  <ion-header>
    <ion-navbar>
      <ion-title text-center>
        Title
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let eventGroup of events;let i=index" (click)="onClickEventsDay(i)">
        {{ eventGroup.key | amLocale:language | amDateFormat:'LL' }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #content [swipeBackEnabled]="false"></ion-nav>
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
    {{ 'menu.events' | translate }}
      <!--<h1 translate>{{ 'menu.events'}}</h1>-->
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="events">
    <button ion-item menuClose *ngFor="let event of eventsDay" (click)="onClickEvent(event)">
      {{ event.title }}
    </button>
  </ion-list>
</ion-content>
